<p class="name">Import a Candidate from Sunlight Foundation</p>
<label>State <input id="state" type="text"></label>

<ul id="output">

</ul>

<ul><button>Submit</button></ul>

<p class="name">Manually add a Candidate</p>
<ul><%= render "form" %></ul>
<img src="..." alt="Candidate Photo" id='my_img' height="275" width="225">
