/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
li {
    list-style-type: none;
}
ul {
    list-style-type: none;
    align-items: center;
    text-align: center;
}
 * {

   text-align: center;
   background-color: white;
   color: #4cb3d4;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
 }
.politics_images {
  height: 200px;
}
.name {
  text-align: center;
}
.issue_form {

}
p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
